<div class="main users-new">
    <div class ="container">
        <div class="form-heading">授業日設定</div>
        <h1>教科<%= link_to("#{@courses.name}","/courses/#{@courses.id}",:style=>"font-size: 32px;")%></h1>
            <div class="form courses-form">
                <div class="form-body">
                <%=form_tag("/courses/create") do %>
                    <p>授業日(例：2020年1月1日　→　"2020-01-01")</p>
                    <input name = "name">
                    <p>授業開始時(例： 1時間目,一限　→　1)</p>
                    <input name = "tname">

                    <input type="submit" value="新規登録">
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>