<div class="main courses-index">
  <div class="container">
    <h1 class="courses-heading">授業日</h1>
        <h1>教科:<%= link_to("#{@courses.name}","/courses/#{@courses.id}",:style=>"font-size: 32px;")%></h1>
            <% @add_courses_time.each do |time|%>
                <div class="courses-index-item">
                    <div class="course-right">
                        <div class="subject-item"> 
                            <p>
                                <%= link_to(
                                    "#{time.held_day}" + " "+ "#{time.held_hour}限",
                                    "/courses/#{@courses.id}/#{time.held_day}",
                                    :style=>"font-size: x-large;"
                                )%>
                            </p>
                        </div>
                        <div class = 'botton-position'>
                                
                            <div class='sign-out-color'>
                                <%= link_to(
                                    "削除",
                                    action: 'destroy_time',
                                    controller:'courses',
                                    held_hour: time.held_hour,
                                    held_day: time.held_day,
                                    course_id: time.course_id
                                )
                                %>
                                
                            </div>
                                
                        </div>
                    </div>
                </div>
            <%end%>
  </div>
</div>