
<div class="main users-new">
    <div class ="container">
        <div class="form-heading">出席一覧</div>
        <h1>教科:コンピュータサイエンス</h1>
            <div class = "fig-main">
                <table border="1" cellpadding="10">
                    <tr>
                    <th bgcolor="orange">学籍番号</th>
                    <th bgcolor="green" width="30%">名前</th>
                    <div class="daycolor">
                        <th>2020/5/7</th>
                        <th>2020/5/14</th>
                        <th>2020/5/21</th>
                    </div>
                    </tr>
                    <tr align="center">
                    <td>1</td>
                    <td>天野</td>
                    <td>○</td>
                    <td>○</td>
                    <td>○</td>
                    </tr>
                    <tr align="center">
                    <td>2</td>
                    <td>尾田</td>
                    <td>○</td>
                    <td>×</td>
                    <td>○</td>
                    </tr>
                    <tr align="center">
                    <td>3</td>
                    <td>久保</td>
                    <td>○</td>
                    <td>×</td>
                    <td>○</td>
                    </tr>
                    <tr align="center">
                    <td>4</td>
                    <td>澤井</td>
                    <td>×</td>
                    <td>×</td>
                    <td>○</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
