<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規科目登録</div>
      <div class="form users-form">
        <div class="form-body">
          <!--<%= form_tag("/users/create_subject") do %>  -->
              <p>科目名</p>
              <input name = "subject">
              <p>担当教官名</p>
              <input name = "teacher">

              <input type="submit" value="新規登録">
          <!--<% end%>  -->
        </div>
      </div>
  </div>
</div>