<div class="main users-new">
    <div class ="container">
        <div class="form-heading">出席一覧</div>
        <h1>教科:コンピュータサイエンス</h1>
            <div class="form users-form">
                <div class="form-body">
                    <div class="subject-item">
                        <p>
                            <%= link_to("出席状況","/users/atend_subject",:style=>"font-size: x-large;")%>
                        </p>
                        <p>
                            メンバーを追加
                        </p>
                        <p>
                            メンバー一覧・編集
                        </p>
                        <p>
                            <%= link_to("keyword設定","/users/keyword_subject",:style=>"font-size: x-large;")%>
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>