<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">
        <%= form_tag("/users/create") do %>
            <p>ユーザー名</p>
            <input name = "name">
            <p>学生番号　例：54123,A3524</p>
            <input name = "GID">
            <p>所属クラス　例：５年電気電子工学科　→　5E(半角)</p>
            <input name = "classname">
            <p>メールアドレス</p>
            <input name = "email">
            <p>パスワード</p>
            <input type = "password" name = "password">
            <input type="submit" value="新規登録">
        <% end%>
      </div>
    </div>
  </div>
</div>