

<div class="about-main">
  <h2>出席管理Appとは</h2>
  <p>
    出席管理をスマートに
    もう出席で名前を呼ぶ必要がありません！
  </p>
  <p>
    出席日数をひと目で把握しましょう！！
    GitHub のUserID
    https://github.com/yamajoooon/KAMApp.git
  </p>
</div>

<img class="about-img" src="/school.jpg">