<div class = "top-main">    
    <div class="all-top"> 
        <%# <h1>特定のdiv要素の中だけBootstrapを適用しようとした</h1>
        <p>ここはフツーのHTML</p>

        <div class="bootstrap">
        <div class="container-fluid">
            <div class="col-sm-6">
            <p>
                Partial bootstrap　

            </p>
            <a href="/about" class="btn btn-success">ここだけ Bootstrap</a>
            </div>
            <div class="col-sm-6">
            <p>
                グリッド
            </p>
            </div>
        </div>
        </div> %>
    </div>
</div>



