

<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post|%>
      <div class="posts-index-item">
        <div class="post-user-name">
          <%= link_to(post.user.name,"/users/#{post.user.id}")%>
        </div>

        <%= link_to("#{post.subject}"+" "+post.content+post.created_at.strftime('%Y/%m/%d'),"/posts/#{post.id}")
        %>
      </div>
    <% end%>
  </div>
  
</div>